apiVersion: v2
appVersion: 1.6.2
description: A Helm chart for velero
name: velero
version: 2.23.6
home: https://github.com/vmware-tanzu/velero
icon: https://cdn-images-1.medium.com/max/1600/1*-9mb3AKnKdcL_QD3CMnthQ.png
sources:
- https://github.com/vmware-tanzu/velero
maintainers:
  - name: jenting
    email: jenting.hsiao@suse.com
  - name: reasonerjt
    email: jiangd@vmware.com
  - name: ywk253100
    email: yinw@vmware.com
  - name: zubron
    email: bmcerlean@vmware.com
