{{- if and .Values.installCRDs (eq .Release.Service "Tiller") }}
{{- range $path, $bytes := .Files.Glob "crds/*.yaml" }}
{{- if not $.Values.enableHelmHooks }}
{{ $.Files.Get $path }}
{{- else }}
{{- range $.Files.Lines $path }}
{{- if contains "annotations:" . }}
{{ . }}
{{ template "velero.helmhooks.crds" . }}
{{- else }}
{{ . }}
{{- end }}
{{- end }}
{{- end }}
---
{{- end }}
{{- end }}
