name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Latest k8s versions. There's no series-based tag, nor is there a latest tag.
        k8s:
          - 1.19.16
          - 1.20.15
          - 1.21.14
          - 1.22.17
          - 1.23.17
          - 1.24.12
          - 1.25.8
          - 1.26.3
          - 1.27.1
          - 1.28.0
          - 1.29.0
          - 1.30.0
          - 1.31.0
          - 1.32.0
          - 1.33.0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.base_ref }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.base_ref }}

      - name: Create kind cluster
        uses: helm/kind-action@v1.5.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          version: "v0.14.0"
          node_image: "kindest/node:v${{ matrix.k8s }}"

      - name: Run chart-testing (install+upgrade)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --upgrade --target-branch ${{ github.base_ref }}
